header {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #a9adac;
    background: rgba(6, 212, 116, 0.185)
  }
  
  header h1 {
    font-size: 2rem;
    color:  #06D475
  }